<abp-page
  [title]="'Users::UsersPageTitle' | abpLocalization"
  [toolbar]="usersStore.usersDatas().items"
>
  <div id="users-wrapper">
    <abp-advanced-entity-filters
      localizationSourceName="Users"
      [list]="usersListService"
    >
    </abp-advanced-entity-filters>

    <div class="card">
      <abp-extensible-table
        [data]="usersStore.usersDatas().items!"
        [recordsTotal]="usersStore.usersDatas().totalCount!"
        [list]="usersListService"
      ></abp-extensible-table>
    </div>
  </div>
</abp-page>

<abp-modal
  [(visible)]="usersStore.usersEditModal().visible"
  [busy]="usersStore.usersEditModal().busy"
>
  <ng-template #abpHeader>
    <h3>
      {{
        usersStore.usersEditModal().selected?.id
          ? ('AbpUi::Edit' | abpLocalization)
          : ('AbpUi::AddNew' | abpLocalization)
      }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="usersStore.usersForm()"
      id="usersForm"
      (ngSubmit)="usersStore.saveUsersEditModal(usersStore.usersForm())"
      [validateOnSubmit]="true"
    >
      <abp-extensible-form
        [selectedRecord]="usersStore.usersEditModal().selected"
      ></abp-extensible-form>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <abp-button
      iconClass="fa fa-check"
      buttonType="submit"
      formName="usersForm"
      >{{ 'AbpUi::Save' | abpLocalization }}</abp-button
    >
  </ng-template>
</abp-modal>
