<abp-page
  [title]="'User::PageTitle' | abpLocalization"
  [toolbar]="store.datas().items"
>
  <div id="user-wrapper">
    <abp-advanced-entity-filters localizationSourceName="User" [list]="list">
    </abp-advanced-entity-filters>

    <input type="text" [(ngModel)]="store.listService().filter" />

    <input
      type="text"
      [ngModel]="store.query().userName"
      (ngModelChange)="store.updateQuery({ userName: $event })"
    />

    <input
      type="text"
      [ngModel]="store.query().emailAddress"
      (ngModelChange)="store.updateQuery({ emailAddress: $event })"
    />

    <div class="card">
      <abp-extensible-table
        [data]="store.datas().items!"
        [recordsTotal]="store.datas().totalCount!"
        [list]="list"
      ></abp-extensible-table>
    </div>
  </div>
</abp-page>

<abp-modal [(visible)]="isModalVisible" [busy]="modalBusy">
  <ng-template #abpHeader>
    <h3>{{ (selected.id ? 'User::Edit' : 'User::New') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="form"
      id="userForm"
      (ngSubmit)="save()"
      [validateOnSubmit]="true"
    >
      <abp-extensible-form [selectedRecord]="selected"></abp-extensible-form>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'User::Cancel' | abpLocalization }}
    </button>
    <abp-button
      iconClass="fa fa-check"
      buttonType="submit"
      formName="userForm"
      >{{ 'User::Save' | abpLocalization }}</abp-button
    >
  </ng-template>
</abp-modal>
