<h2>
  {{ 'Roles::Menu:Lock' | abpLocalization }} -
  {{ stateService.selectedData()?.userName }}
</h2>

<hr class="my-3" />

<form
  *ngIf="lockForm"
  class="abp-md-form"
  [formGroup]="lockForm"
  id="PasswordForm"
  (ngSubmit)="setPassword()"
  [validateOnSubmit]="true"
>
  <label class="form-label">{{
    'AbpIdentity::DisplayName:LockoutEnd' | abpLocalization
  }}</label>
  <div class="mt-2 fade-in-top">
    <div class="mb-3" [formGroup]="lockForm">
      <abp-extensible-date-time-picker
        [prop]="dateTimePickerProps"
      ></abp-extensible-date-time-picker>
    </div>
  </div>

  <hr />

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="lockForm.invalid || saving"
  >
    {{ 'Roles::Save' | abpLocalization }}
  </button>
</form>
