<abp-page
  [title]="'UsersV7::UsersV7PageTitle' | abpLocalization"
  [toolbar]="[]"
>
  <ul
    class="nav nav-tabs"
    routerLinkActive
    #rla="routerLinkActive"
    [hidden]="!rla.isActive"
  >
    @for(route of routesService.visible$ |async; track route.name) {
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="[route.path]"
        [routerLinkActive]="['active']"
        >{{ route.name | abpLocalization }}</a
      >
    </li>
    }
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active">
      <router-outlet></router-outlet>
    </div>
  </div>
</abp-page>
