<abp-page
  [title]="'UsersV3::UserPageTitle' | abpLocalization"
  [toolbar]="userStore.userDatas().items"
>
  <div id="user-wrapper">
    <abp-advanced-entity-filters
      localizationSourceName="UsersV3"
      [list]="userListService"
    >
    </abp-advanced-entity-filters>

    <div class="card">
      <abp-extensible-table
        [data]="userStore.userDatas().items!"
        [recordsTotal]="userStore.userDatas().totalCount!"
        [list]="userListService"
      ></abp-extensible-table>
    </div>
  </div>
</abp-page>

<abp-modal
  [(visible)]="userStore.userEditModal().visible"
  [busy]="userStore.userEditModal().busy"
>
  <ng-template #abpHeader>
    <h3>
      {{
        userStore.userEditModal().selected?.id
          ? ('AbpUi::Edit' | abpLocalization)
          : ('AbpUi::AddNew' | abpLocalization)
      }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="userStore.userForm()"
      id="userForm"
      (ngSubmit)="userStore.saveUserEditModal(userStore.userForm())"
      [validateOnSubmit]="true"
    >
      <abp-extensible-form
        [selectedRecord]="userStore.userEditModal().selected"
      ></abp-extensible-form>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <abp-button
      iconClass="fa fa-check"
      buttonType="submit"
      formName="userForm"
      >{{ 'AbpUi::Save' | abpLocalization }}</abp-button
    >
  </ng-template>
</abp-modal>
