<h2>{{ 'Demo::Menu:SetPassword' | abpLocalization }}</h2>

<hr class="my-3" />

<form
  *ngIf="setPasswordForm"
  class="abp-md-form"
  [formGroup]="setPasswordForm"
  id="PasswordForm"
  (ngSubmit)="setPassword()"
  [validateOnSubmit]="true"
>
  <div class="mb-3">
    <label class="form-label" for="new-password">{{
      'AbpIdentity::Password' | abpLocalization
    }}</label>
    <div class="input-group" validationTarget>
      <input
        [type]="fieldTextType ? 'text' : 'password'"
        id="new-password"
        class="form-control"
        aria-describedby="generate-random-password-button"
        formControlName="newPassword"
        autofocus
        
      />
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="new-password">{{
      'AbpIdentity::Password' | abpLocalization
    }}</label>
    <div class="input-group" validationTarget>
      <input
        [type]="fieldTextType ? 'text' : 'password'"
        id="new-password"
        class="form-control"
        aria-describedby="generate-random-password-button"
        formControlName="newPassword"
        autofocus
        nz-input
      />
    </div>
  </div>

  <hr />

  <button type="submit" class="btn btn-primary" [disabled]="saving">
    {{ 'Demo::Save' | abpLocalization }}
  </button>
</form>
