<abp-page
  [title]="'UsersV5::RolePageTitle' | abpLocalization"
  [toolbar]="roleStore.roleDatas().items"
>
  <div id="role-wrapper">
    <abp-advanced-entity-filters
      localizationSourceName="UsersV5"
      [list]="roleListService"
    >
    </abp-advanced-entity-filters>

    <div class="card">
      <abp-extensible-table
        [data]="roleStore.roleDatas().items!"
        [recordsTotal]="roleStore.roleDatas().totalCount!"
        [list]="roleListService"
      ></abp-extensible-table>
    </div>
  </div>
</abp-page>

<abp-modal
  [(visible)]="roleStore.roleEditModal().visible"
  [busy]="roleStore.roleEditModal().busy"
>
  <ng-template #abpHeader>
    <h3>
      {{
        roleStore.roleEditModal().selected?.id
          ? ('AbpUi::Edit' | abpLocalization)
          : ('AbpUi::AddNew' | abpLocalization)
      }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="roleStore.roleForm()"
      id="roleForm"
      (ngSubmit)="roleStore.saveRoleEditModal(roleStore.roleForm())"
      [validateOnSubmit]="true"
    >
      <abp-extensible-form
        [selectedRecord]="roleStore.roleEditModal().selected"
      ></abp-extensible-form>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <abp-button
      iconClass="fa fa-check"
      buttonType="submit"
      formName="roleForm"
      >{{ 'AbpUi::Save' | abpLocalization }}</abp-button
    >
  </ng-template>
</abp-modal>
