<abp-page
  [title]="'UsersV7::UserPageTitle' | abpLocalization"
  [toolbar]="userListQuery.data()?.items ?? []"
>
  <div id="user-wrapper">
    <abp-advanced-entity-filters
      localizationSourceName="UsersV7"
      [list]="listService"
    >
    </abp-advanced-entity-filters>

    <div class="card">
      <abp-extensible-table
        [data]="userListQuery.data()?.items ?? []"
        [recordsTotal]="userListQuery.data()?.totalCount"
        [list]="listService"
      ></abp-extensible-table>
    </div>
  </div>
</abp-page>

<abp-modal
  [visible]="open()"
  [busy]="busy()"
  (visibleChange)="handleOpenChange($event)"
>
  <ng-template #abpHeader>
    <h3>
      {{
        selected()?.id
          ? ('AbpUi::Edit' | abpLocalization)
          : ('AbpUi::AddNew' | abpLocalization)
      }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="form"
      id="userForm"
      (ngSubmit)="createOrUpdateUser()"
      [validateOnSubmit]="true"
    >
      <abp-extensible-form [selectedRecord]="selected()"> </abp-extensible-form>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <abp-button
      iconClass="fa fa-check"
      buttonType="submit"
      formName="userForm"
      >{{ 'AbpUi::Save' | abpLocalization }}</abp-button
    >
  </ng-template>
</abp-modal>
